@font-face {
  font-family: NotoKufiArabic-Light; /* تعريف اسم الخط */
  src: url(fonts/NotoKufiArabic-Light.ttf); /* تحديد مسار الخط */
}

* {
  font-family: NotoKufiArabic-Light; /* استخدام الخط المخصص لجميع العناصر */
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* التأكد من أن المسافات الداخلية والحدود تُحسب ضمن أبعاد العناصر */
}

body {
  background-image: linear-gradient(-45deg, #9EBAF3, #EEF3D2, #fc8884c0); /* خلفية بتدرج لوني */
  background-attachment: fixed; /* تثبيت الخلفية أثناء التمرير */
  min-height: 100vh; /* التأكد من أن ارتفاع الجسم لا يقل عن ارتفاع النافذة */
  display: grid; /* استخدام grid layout لتوزيع العناصر */
  grid-template-columns: 1fr auto 1fr; /* تقسيم الصفحة إلى ثلاثة أعمدة */
  gap: 10px; /* مسافة بين الأعمدة */
  grid-template-areas:
    "none container sideBar "; /* تخصيص أماكن العناصر */
  background-color: rgba(132, 236, 236, 0.753); /* تحديد لون الخلفية مع شفافية */
 
  backdrop-filter: blur(10px); /* إضافة تأثير التمويه على الخلفية */
}

.container {
  grid-area: container; /* تخصيص مكان الحاوية في التخطيط */
  background: linear-gradient(0deg, rgb(255, 255, 255, -2) 0%, rgb(244, 247, 251, -2)); /* تأثير التدرج في الخلفية */
  border-radius: 40px; /* زوايا دائرية للحاوية */
  padding: 25px 35px; /* مسافات داخلية */
  border: 3px solid #ffffffa2; /* تحديد حدود الحاوية */
  margin: 20px; /* مسافة حول الحاوية */
  box-shadow: 5px 5px 5px 2px rgba(125, 119, 119, 0.43); /* إضافة ظل خفيف للحاوية */
}

.heading {
  display: flex; /* استخدام Flexbox لتوزيع العناصر داخل العنوان */
  
  font-weight: 900; /* جعل النص ثقيل */
  font-size: 30px; /* تحديد حجم الخط */
  color: #160851; /* تحديد لون النص */
}

.heading p {
  font-size: 50px; /* تكبير حجم الخط */
  padding-top: 30px; /* إضافة مسافة فوق الفقرة */
}

.form {
  margin-top: 10px; /* إضافة مسافة فوق النموذج */
}

.form .input {
  max-width: 260px; /* تحديد الحد الأقصى للعرض */
  background: white; /* خلفية بيضاء لحقل الإدخال */
  border: none; /* إزالة الحدود */
  padding: 15px 20px; /* إضافة مسافة داخلية */
  border-radius: 20px; /* زوايا دائرية لحقل الإدخال */
  margin: 15px; /* إضافة مسافة حول الحقل */
  box-shadow: #cff0ff 0px 10px 10px -5px; /* إضافة ظل خفيف للحقل */
  border-inline: 2px solid transparent; /* تظليل الحافة بدون حدود مرئية */
}

.form .input::-moz-placeholder {
  color: rgb(170, 170, 170); /* تغيير لون النص في حالة عدم وجود مدخلات */
}

.form .input::placeholder {
  color: rgb(170, 170, 170); /* تغيير لون النص في حالة عدم وجود مدخلات */
}

.form .input:focus {
  outline: none; /* إزالة الحدود عند التركيز */
  border-inline: 2px solid #05434f; /* تغيير لون الحافة عند التركيز */
}



.form .login-button {
  cursor: pointer;
  padding: 12px;
  margin-top: 15px;
  margin-right: 5%;
  margin-left: 5%;
  width: 90%;
  background-image: linear-gradient(-45deg, #9EBAF3, #EEF3D2, #fc8884c0);
  border-radius: 15rem;
  border: none;
  outline: none;
  color: #0b2b6d;
  font-size: 18px;
  transition: all 0.2s ease-in-out; /* إضافة تأثيرات انتقائية عند التفاعل مع الزر */}

 

.form .login-button:hover {
  transform: scale(1.03); /* تكبير الزر عند التمرير */
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px; /* تغيير تأثير الظل */}

.form .login-button:active{
  transform: scale(0.95); /* تصغير الزر عند الضغط عليه */
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px; /* تغيير تأثير الظل عند الضغط */
}



#file {
  margin: 15px; /* إضافة مسافة حول الحقل */
  border: 1px solid #ffffffa2; /* إضافة حدود خفيفة حول الحقل */
  background-color: #ffffff; /* خلفية بيضاء */
  box-shadow: #cff0ff 0px 10px 10px -5px; /* إضافة ظل خفيف للحقل */
  border-radius: 2rem; /* زوايا دائرية للحقل */
  padding: 15px; /* إضافة مسافة داخل الحقل */
  cursor: pointer;

}

#file::-webkit-file-upload-button {
  border: none; /* إزالة الحدود */
  border-radius: 2rem; /* زوايا دائرية للزر */
  background: #d2f1f3e1; /* خلفية الزر */
  margin-right: 10px; /* إضافة مسافة للجانب الأيمن */
  margin-left: 10px; /* إضافة مسافة للجانب الأيسر */
}




label {
  margin-right: 20px; /* إضافة مسافة للجانب الأيمن */
}

@media (max-width: 750px) {
  .container {
    max-width: 500px; /* تحديد الحد الأقصى للعرض */
    flex-direction: column; /* جعل الحاوية عمودية */
  }

  .form {
    width: 100%; /* جعل النموذج يعرض بشكل كامل */
    display: flex; /* استخدام Flexbox لتوزيع العناصر داخل النموذج */
    flex-direction: column; /* جعل العناصر داخل النموذج عمودية */
    align-items: center; /* محاذاة العناصر في المركز */
  }

  .input {
    width: 90%; /* جعل الحقل يستخدم 90% من العرض */
    max-width: 400px; /* تحديد الحد الأقصى للعرض */
  }
}

img {
  animation: img 4s ease infinite both; /* تعيين تأثير الحركة للصور */
}

@keyframes img {
  0% {
    transform: translateY(0px); /* وضع الصورة في مكانها الأصلي */
  }

  30% {
    transform: translateY(10px); /* رفع الصورة قليلاً */
  }

  60% {
    transform: translateY(-10px); /* تحريك الصورة للأسفل قليلاً */
  }

  100% {
    transform: translateY(0px); /* إعادة الصورة إلى مكانها الأصلي */
  }
}

