@font-face {
    font-family: NotoKufiArabic-Light;
    src: url(fonts/NotoKufiArabic-Light.ttf);
}

* {
    font-family: 'NotoKufiArabic-Light', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(-45deg, #9EBAF3, #EEF3D2, #fc8884c0);
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.quiz-container {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 1000px;
    text-align: center;
}

.quiz-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}

.col {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.question {
    padding: 10px;
    text-align: right;
    margin-bottom: 10px;
}

label {
    display: block;
    text-align: start;
}

button {
    cursor: pointer;
    padding: 12px;
    margin-top: 15px;
    width: 80%;
    max-width: 300px;
    background-image: linear-gradient(-45deg, #9EBAF3, #EEF3D2, #fc8884c0);
    border-radius: 15rem;
    border: none;
    outline: none;
    color: #0b2b6d;
    font-size: 18px;
    transition: all 0.2s ease-in-out; /* إضافة تأثيرات انتقائية عند التفاعل مع الزر */}

button:hover {
    transform: scale(1.03); /* تكبير الزر عند التمرير */
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px; /* تغيير تأثير الظل */}

button:active{
    transform: scale(0.95); /* تصغير الزر عند الضغط عليه */
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px; /* تغيير تأثير الظل عند الضغط */
}
.b{
    display: flex;
    justify-content:space-around;
    
}

@media (min-width: 768px) {
    .quiz-form {
        flex-direction: row;
    }
    .col {
        width: 48%;
    }
}

@media (min-width: 1024px) {
    .col {
        width: 30%;
    }
}
